* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat;
}
a {
  text-decoration: none;
}
a:hover,
:focus {
  color: aquamarine;
  cursor: pointer;
}
.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0.0.0.15);
  border-radius: 4px;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-foto {
  width: 370px;
  border-radius: 100%;
}
.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #c7c9cd;
}
.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}
.skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #f1670b;
}
.skills-text {
  color: #c7c9cd;
}

.skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #f1670b;
}
.skills-text {
  color: #c7c9cd;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.project-container {
  margin-bottom: 15px;
}
.projects-description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.education-box {
  margin-bottom: 20px;
}
.education-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #595959;
  font-weight: 100;
}

.education-item {
  font-weight: 700;
  margin-left: 15px;
}
.education-container {
  margin-bottom: 55px;
}

.professional-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}
.professional-title__primary {
  margin: 0;
}
.professional-company {
  color: #f1670b;
}

.professional-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.professional-divider {
  color: #070707;
}

.professional-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.profession-duties-title {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
